body {
  margin: 0;
}

.page {
  width: 1000px;
  margin: 65px auto 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style: none; /*Serve para tirar as bolinhas que faz*/
  gap: 48px; /* o espaço entre as opçoes*/
  margin: 0;
  padding: 0; /*preenchimento*/
}

main {
  display: flex;
}
